<div class="row">
  <div class="col-md-6">
    <h2 id="edit_title">Edit Event</h2>

    <form class="form editevent-form">
      <input type="hidden" id="id" value="{{event.id}}" />
      <div class="form-group">
        <label for="name">Name of event:</label>
        <input class="form-input" type="text" id="name" value="{{event.name}}"/>
      </div>
      <div class="form-group">
        <label for="description">Description and location:</label>
        <input class="form-input" type="text" id="description" value="{{event.description}}" />
      </div>
      <div class="form-group">
        <label for="date_scheduled">Date</label>
        <input class="form-input" type="date" id="date_scheduled" value="{{event.date_scheduled}}" />
      </div>
      <div class="form-group">
        <label for="event_image">Image URL:</label>
        <input class="form-input" type="text" id="event_image" value="{{event.image}}"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Event</button>
        <button id="del_event" class="btn btn-danger" type="button">Delete Event</button>
      </div>
    </form>
  </div>
  

<script src='/js/editevent.js'></script>